<template>
	<v-container fluid>
		<v-layout row wrap>
			<v-flex xs12>
				<h3>Wprowadź prędkość wiatru: </h3>
				<v-layout row justify-space-between>
					<v-flex xs5>
						<v-text-field
								v-model="ms"
								autofocus autocomplete="off"
								min="0"
								suffix="m/s"
								step="0.01"
								type="number"
								placeholder="Potwierdź przyciskiem ENTER"
								@keyup.enter="addCalculationMS">
							>
						</v-text-field>
					</v-flex>
					<v-icon>compare_arrows</v-icon>
					<v-flex xs5>
						<v-text-field
								v-model="kmh"
								autocomplete="off"
								min="0"
								suffix="km/h"
								type="number"
								step="0.01"
								placeholder="Potwierdź przyciskiem ENTER"
								@keyup.enter="addCalculationKMH">
							>
						</v-text-field>
					</v-flex>
				</v-layout>
			</v-flex>
			<v-flex xs12>
				<v-layout row>
					<v-flex xs6>
						<v-data-table
								:headers="headers"
								:items="conversions"
								class="elevation-1 conversions-list"
								:hide-actions="true"
								:disable-initial-sort="true"
								:must-sort="true"
								v-show="conversions.length" v-cloak
						>
							<template slot="items" slot-scope="props" class="conversion">
								<td class="text-xs-right">{{ props.item.bf_grade }}</td>
								<td class="text-xs-right">{{ props.item.bf_desc }}</td>
								<td class="text-xs-right">{{ props.item.kmh }}</td>
								<td class="text-xs-right">{{ props.item.ms }}</td>
								<td class="text-xs-right">{{ props.item.knot }}</td>
								<td class="justify-center layout px-0">
									<v-icon small @click="deleteItem(props.item)" >delete</v-icon>
								</td>
							</template>
						</v-data-table>
					</v-flex>
					<v-flex xs6>
						<scatter-chart :data="scatterChartData" xtitle="skala Beauforta" ytitle="Prędkość (m/s)" :download="true"></scatter-chart>
					</v-flex>
				</v-layout>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
	let STORAGE_KEY = 'conversions-vuejs-2.0';
	let conversionStorage = {
		fetch: () => {
			var conversions = JSON.parse(localStorage.getItem(STORAGE_KEY) || '[]');
			conversions.forEach(function (conversion, index) {
				conversion.id = index
			});
			conversionStorage.uid = conversions.length;
			return conversions
		},
		save: (conversions) => {
			localStorage.setItem(STORAGE_KEY, JSON.stringify(conversions))
		}
	};
	export default {
		name: "WindConverter",
		data() {
			return {
				ms: '',
				kmh: '',
				conversions: conversionStorage.fetch(),
				scatterChartData: [],
				chartData: [],
				headers: [
					{
						text: 'skala Beauforta',
						align: 'left',
						value: 'bf_grade'
					},
					{
						text: 'opis',
						align: 'left',
						value: 'bf_desc'
					},
					{text: 'km/h', value: 'kmh'},
					{text: 'm/s', value: 'ms',},
					{text: 'węzły', value: 'knot',},
					{text: 'usuń', sortable: false}
				]
			}
		},
		watch: {
			conversions: {
				handler: function (conversions) {
					conversionStorage.save(conversions)
					this.calcChartData();
				},
				deep: true
			}
		},
		created() {
			this.calcChartData()
		},
		methods: {
			addCalculationMS() {
				let value = this.ms && this.ms.trim();
				if (!value) {
					return false;
				}
				let kmh = this.$units(value).from('m/s').to('km/h');
				let bf = this.$beaufort(kmh);

				this.conversions.push({
					value: false,
					id: conversionStorage.uid++,
					ms: Math.round(this.ms * 100) / 100,
					kmh: Math.round(kmh * 100) / 100,
					knot: Math.round(this.$units(value).from('m/s').to('knot') * 100) / 100,
					bf_grade: bf.grade,
					bf_desc: bf.desc,
				});
				this.ms = '';
				this.kmh = '';
			},
			addCalculationKMH() {
				let value = this.kmh && this.kmh.trim();
				if (!value) {
					return false;
				}
				let bf = this.$beaufort(this.kmh);
				this.conversions.push({
					value: false,
					id: conversionStorage.uid++,
					ms: Math.round(this.$units(value).from('km/h').to('m/s') * 100) / 100,
					kmh: Math.round(this.kmh * 100) / 100,
					knot: Math.round(this.$units(value).from('km/h').to('knot') * 100) / 100,
					bf_grade: bf.grade,
					bf_desc: bf.desc,
				});
				this.ms = '';
				this.kmh = '';
			},
			deleteItem(item) {
				const index = this.conversions.indexOf(item);
				this.conversions.splice(index, 1);
			},
			calcChartData() {
				this.scatterChartData = this.conversions.map( (item, index) => {
					return [item.bf_grade, item.ms]
				} );
			}
		},
		filters: {
			round(value, place) {
				let roundsTo = Math.pow(10, place);
				return Math.round(value * roundsTo) / roundsTo
			}
		}
	}
</script>

<style scoped>

</style>
