<template>
  <v-app>
    <v-toolbar app>
      <v-toolbar-title class="headline text-uppercase">
        <span>Wind</span>
        <span class="font-weight-light">VELOCITY CONVERTER</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
    </v-toolbar>

    <v-content>
      <WindConverter/>
    </v-content>
  </v-app>
</template>

<script>
import WindConverter from "./components/WindConverter";

export default {
  name: 'App',
  components: {
	  WindConverter
  },
  data () {
    return {
      //
    }
  }
}
</script>
